# Ignore all contents of the data folder except the folder itself
/data/*
!/data/

# Ignore Python cache
__pycache__/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore CSV files in root
*.csv

# Ignore Streamlit temporary files
.streamlit/

# Ignore VS Code settings
.vscode/

# Ignore environment files
.env

# Ignore OS-specific files
.DS_Store
Thumbs.db
